<div class="jumbotron mt-0">
  <div class="container text-center">
      <h1>All Users</h1>
      <p>Bloovo Task Project</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/user/signup']">Add new user</button>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12">
          <div *ngIf="showUsers"  class="row">
              <div *ngFor="let user of allUsers"  class="col mt-3 col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                      <img class="card-img-top" src={{user.avatar}} alt="">
                      <div class="card-body">
                          <h5 class="card-title">{{user.name}}</h5>
                          <p class="card-text">{{user.email}}</p>
                      </div>
                      <div class="card-footer text-center">
                          <button class="btn btn-sm btn-info" (click)="updateUser(user.id)" 
                               type="button">
                              <i class="fa fa-pencil"></i>
                          </button>
                          <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger" type="button">
                              <i class="fa fa-trash"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>