<div class="jumbotron mt-0">
  <div class="container text-center">
      <h1>Bloovo</h1>
      <p>Bloovo Task Project</p>
      <button type="button" class="btn btn-primary" (click)="addNewBlog()" >Add new blog</button>
  </div>
</div>
<div class="container">
  <div *ngIf="showBlogs"  class="row">
      <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="d-flex flex-column border-bottom py-3 mb-4" *ngFor="let blog of allBlogs" >
              <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                      <img class="rounded-circle placeholder-img" src={{blog.avatar}} alt="img">
                      <div class="ml-2 d-flex flex-column">
                          <p class="text-info m-0">{{blog.name}}</p>
                          <p class="small text-secondary">{{blog.createdAt | date}}</p>
                      </div>
                  </div>
                  <div>
                      <button (click)="likeBlog(blog.likes,blog.id)"  class="btn btn-outline-success btn-sm" type="button">
                        {{blog.likes}}<i class="fa fa-heart"></i>
                      </button>
                      <button (click)="unlikeBlog(blog.likes,blog.id)"  class="btn btn-outline-success btn-sm" type="button">
                       <i class="fa fa-thumbs-down"></i>
                      </button>
                      <button (click)="editBlog(blog.id)"  class="btn btn-outline-info btn-sm" type="button">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                      <button (click)="deleteBlog(blog.id)" class="btn btn-outline-danger btn-sm" type="button">
                        <i class="fa fa-trash-o"></i>
                      </button>
                  </div>
              </div>
              <div class="">
                  <h5 class="display-5"><a href="./blog.html"
                          class="text-decoration-none text-truncate text-dark">{{blog.title}}</a></h5>
                  <p class="text-secondary">{{blog.description}}</p>
                  <a (click)="seeDetails(blog.id)" class="text-secondary small text-decoration-none">Read More</a>
              </div>
          </div>
      </div>
  </div>
</div>